{% extends "base.html" %}
{% block content %}
<head>
<style>
body
{
	background-color: #228B22;
}
h1, h2, p
{
	text-align: center;
	color: #D3D3D3;
}
h2
{
	padding-top: 510px;
}
table, tr
{
	border: 2px groove black;
	background-color: #D3D3D3;
}
table
{
	font-size: 20px;
	width: 50%;
	height: 70%;
}
th
{
	text-align: left;
	font-family: TimesNewRoman;
	color: black;
}
table.center 
{
	margin-left:auto;
	margin-right:auto;
}
ul
{

}
li
{
	color: black;
	font-size: 18px;
}

</style>
<script>
	function yearCheck(int diffYear)
	{
		if(diffYear < 0)
		{
			Math.abs(diffYear)
			document.write("Your car is " + diffYears + " years older than selected car");
		}
		else if(diffYear > 0)
		{
			document.write("The selected car is " + diffYear + " years older than your car")
		}
	}
	function costCheck(int diffCost)
	{
		if(diffCost < 0)
		{
			Math.abs(diffCost)
			document.write("The selected car is " + diffCost + " more expensive to run per year than your car.")
		}
		else if(diff > 0)
		{
			document.write("Your car is " + diffCost + " more expensive to run per year than the selected car.")
		}
	}
	function hmpgCheck(int hMpg)
	{
		if(hMpg < 0)
		{
			Math.abs(hMpg)
			document.write("The selected car is more efficient during highway driving by " + hMpg + " miles per gallon.")
		}
		else if(hMpg > 0)
		{
			document.write("Your car is more effiecient during highway driving by " + hMpg + " miles per gallon.")
		}
	}
	function cmpgCheck(int cMpg)
	{
		if(cMpg < 0)
		{
			Math.abs(cMpg)
			document.write("The selected car is more efficient during city driving by " + cMpg + " miles per gallon.")
		}
		else if(cMpg > 0)
		{
			document.write("Your car is more effiecient during city driving by " + cMpg + " miles per gallon.")
		}
	}
	function comMpgCheck(int comboMpg)
	{
		if(comboMpg < 0)
		{
			Math.abs(comboMpg)
			document.write("The selected car is more efficient on average by " + comboMpg + " miles per gallon.")
		}
		else if(comboMpg > 0)
		{
			document.write("Your car is more effiecient on average by " + comboMpg + " miles per gallon.")
		}
	}
	function coTwoCheck(int coTwo)
	{
		if(coTwo < 0)
		{
			Math.abs(coTwo)
			document.write("Your car produces " + coTwo + " less grams per mile of CO2 than the selected car.")
		}
		else if(coTwo > 0)
		{
			document.write("Your car produces " + coTwo + " more grams per mile of CO2 than the selected car.")
		}
	}
	function saveSpendCheck(int saSp)
	{
		if(saSp > 0)
		{
			document.write("Your car will save you " + saSp + " dollars over a five year period in gas prices.")
		}
		else if (saSp < 0)
		{
			document.write("The selected car will save you " + saSp + " dollars over a five year period. in gas prices.")
		}
		else if(saSp == 0)
		{
			document.write("Both cars will cost you the same amount over a five year period in gas prices.")
		}
	}
</script>
</head>
<body>
	<h1>Comparison of owned vehicle with selected vehicle</h1>
	<p><i>Vehicle Models from 1985-2019</i></p>
	
	<!-- Table for owned car -->
	<table style="float:left">
		<tr>
			<th>Car you own</th>
		</tr>
		<tr>
			<th>Make</th>
			<th>{{ comparePackage.owned["cMake"] }}</th>
		</tr>
		<tr>
			<th>Model</th>
			<th>{{  comparePackage.owned["cModel"] }}</th>
		</tr>
		<tr>
			<th>Year</th>
			<th>{{  comparePackage.owned["cYear"] }}</th>
		</tr>
		<tr>
			<th>Fuel Cost/Year</th>
			<th>{{  comparePackage.owned["fCost"] }}</th>
		</tr>
		<tr>
			<th>Fuel Type</th>
			<th>{{  comparePackage.owned["fType"] }}</th>
		</tr>
		<tr>
			<th>HighWay MPG</th>
			<th>{{  comparePackage.owned["hMpg"] }}</th>
		</tr>
		<tr>
			<th>City MPG</th>
			<th>{{ comparePackage.owned["cMpg"] }}</th>
		</tr>
		<tr>
			<th>Combined Mpg</th>
			<th>{{  comparePackage.owned["comboMpg"] }}</th>
		</tr>
		<tr>
			<th>Transmission Type</th>
			<th>{{  comparePackage.owned["transType"] }}</th>
		</tr>
		<tr>
			<th>CO2 in Grams/Mile</th>
			<th>{{  comparePackage.owned["coTwo"] }}</th>
		</tr>
		<tr>
			<th>You save/spend more</th>
			<th>{{  comparePackage.owned["saveSpend"] }}</th>
		</tr>
	</table>

<!--Table for selected theoretical car -->

	<table style="float: left">
		<tr>
			<th>Comparsion Car</th>
		</tr>
		<tr>
			<th>Make</th>
			<th>{{  comparePackage.theoretical["cMake"] }}</th>
		</tr>
		<tr>
			<th>Model</th>
			<th>{{ comparePackage.theoretical["cModel"] }}</th>
		</tr>
		<tr>
			<th>Year</th>
			<th>{{ comparePackage.theoretical["cYear"] }}</th>
		</tr>
		<tr>
			<th>Fuel Cost/Year</th>
			<th>{{ comparePackage.theoretical["fCost"] }}</th>
		</tr>
		<tr>
			<th>Fuel Type</th>
			<th>{{ comparePackage.theoretical["fType"] }}</th>
		</tr>
		<tr>
			<th>HighWay MPG</th>
			<th>{{ comparePackage.theoretical["hMpg"] }}</th>
		</tr>
		<tr>
			<th>City MPG</th>
			<th>{{ comparePackage.theoretical["cMpgT"] }}</th>
		</tr>
		<tr>
			<th>Combined Mpg</th>
			<th>{{ comparePackage.theoretical["comboMpg"] }}</th>
		</tr>
		<tr>
			<th>Transmission Type</th>
			<th>{{ comparePackage.theoretical["transType"] }}</th>
		</tr>
		<tr>
			<th>CO2 in Grams/Mile</th>
			<th>{{ comparePackage.theoretical["coTwo"] }}</th>
		</tr>
		<tr>
			<th>You save/spend more</th>
			<th>{{ comparePackage.theoretical["saveSpend"] }}</th>
		</tr>
	</table>

	<h2>Comparison Table</h2>

	<!-- Comparison Table -->
	<table class = "center">
		<tr>
			<th>Year</th>
			<th>yearCheck({{ comparePackage.diff["cYear"]}})</th>
		</tr>
		<tr>
			<th>Cost</th>
			<th>costCheck({{ comparePackage.diff["fCost"]}})</th>
		</tr>
		<tr>
			<th>Fuel Type</th>
			<th>document.write("Your car uses " + comparePackage.owned["fType"] + " as fuel, and the selected car uses " + comparePackage.theoretical["fType"] + " as fuel")</th>
		</tr>
		<tr>
			<th>HighWay MPG</th>
			<th>hmpgCheck({{ comparePackage.diff["hMpg"] }})</th>
		</tr>
		<tr>
			<th>City MPG</th>
			<th>cmpgCheck({{ comparePackage.diff["cMpg"] }})</th>
		</tr>
		<tr>
			<th>Combined MPG</th>
			<th>comMpgCheck({{ comparePackage.diff["comboMpg"] }})</th>
		</tr>
		<tr>
			<th>Transmission Type</th>
			<th>document.write("Your car uses a " + {{ comparePackage.owned["transType"] }} + " transmission. The selected car uses a " + {{ comparePackage.diff["transType"] }} + " transmission".)</th>
		</tr>
		<tr>
			<th>CO2 output</th>
			<th>coTwoCheck({{ comparePackage.diff["coTwo"] }})</th>
		</tr>
		<tr>
			<th>You Save/Spend More</th>
			<th>saveSpendCheck({{ comparePackage.diff["saveSpend"] }})</th>
		</tr>
	</table>

<ul style="float:left">
<li>

The amount of fuel a car consumes is crucial to the environment. One gallon of gas, which weighs about 6.3 pounds, produces 20 pounds of carbon dioxide – the most abundant greenhouse gas. All of the following car attributes are important things to consider when thinking about the environmental impact of cars.
</li>
<li>
<strong>Fuel Type</strong><br>
The fuel type for a car can have an environmental impact. The three most common gas types: regular, mid-grade, and premium have a varied environmental impact because your car engine and gas fillers also contribute to the production of carbon monoxide. While diesel is known and can be the least environmentally friendly, not all diesel types fall under this stereotype. Biodiesel, for example, is equally or in some cases even more environmentally friendly than regular gas types.
</li>
<li>
<strong>CO2</strong><br>
While carbon monoxide is creating the greatest negative effect on the environment from your car, you can use carbon dioxide, another gas emitted from your car, to measure the environmental impact similarly to carbon monoxide. Carbon dioxide has a negative effect on humans because the increased amount of carbon dioxide pushes out the available oxygen for us to breath. The more carbon dioxide the car produces, the less oxygen for us, and greater negative impact on the environment.
</li>
<li>
<strong>Combined MPG</strong><br>
A higher MPG means more miles per gallon and less gas consumed. Combined fuel economy is a weighted average of City and Highway MPG values that is calculated by weighting the City value by 55% and the Highway value by 45%
Highway MPG: The miles per gallon when the average speed of your car on a highway is 50 mph. 
City MPG: The miles per gallon when the average speed of your car at 10 mph with frequent stops.
</li>
<li>
<strong>Transmission</strong><br>
When it comes to transmissions, the bottom line is that manual transmissions use a smaller amount of fuel than their automatic counterparts. Why is this the case? The main reason is that automatic transmissions require the use of a fluid coupling known as a torque converter located between the mechanical gears and the engine. This enables a person to bring an automatic transmission car to a stop without the need to press a clutch. The engine can continue to turn while the car is not in motion because of the viscous coupling. While the car is moving, the torque converter does not have complete efficiency and suffers from some power loss.
https://usgreentechnology.com/greener-car-choice-automatic-manual/
</li>
<li>
<strong>You Save You Spend</strong><br>
The amount of money you would save on gas per year if you bought a new car or the amount of money you lose by keeping your current car.
</li>
<li>
You Save You Spend = (Average annual price of gas with a new car) – (Average annual price of gas with current car over five years).
</li>
<li>
Typically, a new car is going to be more environmentally friendly, with higher MPG, requiring less gas per year. A negative number indicates how much more, on average, you are spending on gas per year by keeping your current car then getting a new one. While 0 means the current car is spending the same amount per year on gas as the average fuel cost of a new car. 
</li>
<li>
<strong>Fuel Cost</strong><br> 
How much the gas will cost for the car per year. Annual fuel cost is based on 15,000 miles, 55% city driving, and the price of fuel used by the vehicle
</li>
</ul>

	
</body>
{% endblock %}
